@use "./colors" as *;
@use "../helpers/mixins" as *;
@use "./variables/global" as *;

.link {
  width: 100%;
  .item {
    width: 100%;
    padding: $padding-8 $padding-16;
    @include flex-row-center($gap: $gap-8);
    color: $black;
    background-color: $white;
    border-radius: $b-r-10;
    cursor: pointer;
    &.dark {
      background-color: $pink;
      color: $white;
      &.active {
        background-color: $white;
        color: $black;
      }
    }
    &.active {
      background-color: $grey-11;
      color: $white;
    }
    span {
      font-size: $f-s-16;
      flex: 1;
      white-space: nowrap;
    }

    .icon {
      @include flex-row-center();
      font-size: $f-s-24;
    }
  }
}
