@use "../helpers/fonts" as *;
@use "../helpers/mixins" as *;
@use "./colors" as *;
@use "./variables/mediaQuery" as *;
@use "./variables/global" as *;

.button {
  width: 100%;
  padding: $padding-12 $padding-24;
  @include flex-row-center($gap: $gap-20);
  background-color: $pink;
  font-size: $f-s-20;
  font-family: "Cairo-ExtraBold";
  color: $white;
  letter-spacing: $l-s-2;
  text-transform: capitalize;
  border-radius: $b-r-15;
  box-shadow: $boxShadow-1;
}
