@use "../helpers/fonts" as *;
@use "../helpers/mixins" as *;
@use "./colors" as *;
@use "./variables/mediaQuery" as *;
@use "./variables/global" as *;
@use "./placeholders" as *;

.welcome {
  @include flex-row-center($gap: $gap-15);
  font-family: "Cairo-SemiBold";
  font-size: $f-s-20;

  .userIcon {
    color: $grey-5;
    font-size: $f-s-22;
  }
}

.form {
  @extend %authFormStyle;

  .inputs {
    @extend %authInputs;
    .inputItems {
      @extend %authInputItem;
    }
    > p {
      @extend %feedbackStyle;
    }
  }

  .forgetPass {
    width: 100%;
    padding: 0 $padding-8;
    @include flex-variant(
      flex,
      $direction: row,
      $align: center,
      $justify: flex-end
    );

    .checkbox {
      @include flex-variant(
        flex,
        $direction: row,
        $align: center,
        $gap: $gap-20
      );
      input {
        width: 0.9375rem;
        height: 0.9375rem;
        border-radius: $b-r-5;
        cursor: pointer;
      }
      label {
        font-family: "Cairo-Bold";
        cursor: pointer;
      }
    }
    .text {
      font-family: "Cairo-Black";
      font-size: $f-s-16;
      color: $pink;
      cursor: pointer;
    }
  }
}
