@use "../helpers/fonts" as *;
@use "../helpers/mixins" as *;
@use "./colors" as *;

%font {
  font-family: "Cairo-ExtraBold";
  letter-spacing: 0.125rem;
}
.login {
  width: 43%;
  height: 100%;
  padding: 0 1.5625rem;
  flex-basis: 43%;
  @include flex-variant(
    flex,
    $direction: column,
    $align: center,
    $gap: 3.125rem
  );

  .head {
    width: 100%;
    @include flex-variant(
      flex,
      $direction: column,
      $align: center,
      $justify: center,
      $gap: 1.125rem
    );

    .logo {
      width: 13.5rem;
      height: 4.0625rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .title {
      font-size: 1.375rem;
      @extend %font;
    }
    .welcome {
      @include flex-variant(
        flex,
        $direction: row,
        $align: center,
        $justify: center,
        $gap: 0.9375rem
      );
      font-family: "Cairo-SemiBold";
      font-size: 1.25rem;

      .userIcon {
        color: $grey-5;
        font-size: 1.375rem;
      }
    }
  }
  .form {
    width: 100%;
    @include flex-variant(
      flex,
      $direction: column,
      $align: center,
      $gap: 3.125rem
    );

    .input {
      width: 85%;
      height: 3.125rem;
      border: 0.1875rem solid $grey-6;
      border-radius: 0.3125rem;
      .field {
        width: 100%;
        height: 100%;
        padding: 0 0.9375rem;
        position: relative;
        @include flex-variant(
          flex,
          $direction: row,
          $align: center,
          $justify: center
        );
        label {
          padding: 0 0.5rem;
          position: absolute;
          top: -50%;
          right: 6%;
          font-family: "Cairo-Bold";
          font-size: 1rem;
          background-color: $white;
        }
        input {
          width: 100%;
          height: 100%;
          padding: 0 0.9375rem;
          font-size: 1rem;
          &[type="text"] {
            font-family: "Cairo-Regular";
          }
        }
        .icon {
          @include flex-variant(
            flex,
            $direction: row,
            $align: center,
            $justify: center
          );
          font-family: "Cairo-Bold";
          font-size: 1.5625rem;
          color: $grey-7;
        }
        .showPass {
          cursor: pointer;
        }
      }
    }

    .forgetPass {
      width: 85%;
      padding: 0 0.5rem;
      @include flex-variant(
        flex,
        $direction: row,
        $align: center,
        $justify: space-between
      );
      .checkbox {
        @include flex-variant(
          flex,
          $direction: row,
          $align: center,
          $gap: 1.25rem
        );
        input {
          transform: scale(1.5);
          cursor: pointer;
        }
        label {
          font-family: "Cairo-Bold";
          cursor: pointer;
        }
      }
      .text {
        font-family: "Cairo-Black";
        font-size: 1rem;
        color: $pink;
        cursor: pointer;
      }
    }

    button {
      width: 85%;
      padding: 0.5rem 1rem;
      color: $white;
      font-size: 1.25rem;
      @extend %font;
      background-color: $pink;
      border-radius: 0.9375rem;
      box-shadow: 0.125rem 0.25rem 0.25rem 0 $grey-3;
    }
  }
}
