@use "../helpers/fonts" as *;
@use "../helpers/mixins" as *;
@use "./colors" as *;
@use "./variables/mediaQuery" as *;

.authHead {
  .welcome {
    @include flex-variant(
      flex,
      $direction: row,
      $align: center,
      $justify: center,
      $gap: 0.9375rem
    );
    font-family: "Cairo-SemiBold";
    font-size: 1.25rem;

    .userIcon {
      color: $grey-5;
      font-size: 1.375rem;
    }
  }
}
.form {
  width: 100%;
  @include flex-variant(
    flex,
    $direction: column,
    $align: center,
    $gap: 3.125rem
  );
  .forgetPass {
    width: 100%;
    padding: 0 0.5rem;
    @include flex-variant(
      flex,
      $direction: row,
      $align: center,
      $justify: space-between
    );
    @include mediaQuery($Tablet_min_width) {
      width: 85%;
    }
    .checkbox {
      @include flex-variant(
        flex,
        $direction: row,
        $align: center,
        $gap: 1.25rem
      );
      input {
        width: 0.9375rem;
        height: 0.9375rem;
        border-radius: 0.3125rem;
        cursor: pointer;
      }
      label {
        font-family: "Cairo-Bold";
        cursor: pointer;
      }
    }
    .text {
      font-family: "Cairo-Black";
      font-size: 1rem;
      color: $pink;
      cursor: pointer;
    }
  }
  /*.loginButton {
    width: 100%;
    margin: 0;
    justify-content: center;
    letter-spacing: 0.125rem;
    @include mediaQuery($Tablet_min_width) {
      width: 85%;
    }
  }*/
}
