@use "./colors" as *;
@use "../helpers/mixins" as *;
@use "../helpers/fonts" as *;
@use "./placeholders" as *;
@use "./variables/global" as *;
@use "./variables/mediaQuery" as *;

%font {
  font-family: "Cairo-ExtraBold";
  font-size: $f-s-18;
}
%scroll {
  overflow-y: auto;
  &::-webkit-scrollbar-track {
    @extend %track;
  }
  &::-webkit-scrollbar {
    @extend %scrollbar;
  }
  &::-webkit-scrollbar-thumb {
    @extend %thumb;
  }
}
.chat {
  height: 100%;
  @include flex-variant(flex, $direction: column);
  .head {
    //padding: $padding-28 0 $padding-16 0;
    padding: $main-padding;
    border-bottom: $border-1 solid $white;
    .content {
      @include flex-variant(
        flex,
        $direction: row,
        $align: center,
        $justify: space-between
      );
      .user {
        @include flex-variant(
          flex,
          $direction: row,
          $align: flex-end,
          $gap: $gap-16
        );
        .img {
          width: 5.3125rem;
          height: 5.3125rem;
          border-radius: 50%;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .text {
          @extend %font;
          > p:first-of-type {
            text-transform: capitalize;
          }
        }
      }
      .tools {
        @include flex-variant(
          flex,
          $direction: row,
          $align: center,
          $gap: $gap-24
        );
        font-family: "Cairo-ExtraBold";
        font-size: $f-s-24;
        .icon {
          @include flex-row-center();
          cursor: pointer;
        }
      }
    }
  }
  .body {
    flex: 1 0;
    padding: $main-padding;
    @extend %font;
    .data {
      height: 100%;
      @include flex-variant(
        flex,
        $direction: column,
        $justify: space-between,
        $gap: $gap-40
      );
      .messages {
        width: 100%;
        max-height: 60%;
        @include flex-variant(
          flex,
          $direction: column,
          $justify: space-between,
          $gap: $gap-16
        );
        @extend %scroll;

        .message {
          @include flex-variant(
            flex,
            $direction: row,
            $align: center,
            $gap: $gap-16
          );
          &.left {
            margin: 0 auto 0 0;
            .img {
              order: 2;
            }
            span {
              order: 1;
            }
          }
          .img {
            width: 3.125rem;
            height: 3.125rem;
            border-radius: 50%;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .sendBox {
        width: 100%;
        padding: $padding-16 $padding-28;
        @include flex-variant(flex, $direction: column, $gap: $gap-16);
        border-radius: $b-r-15;
        //overflow: hidden;
        background-color: $black;
        @include mediaQuery($medScreen_min_width) {
          width: 60%;
        }
        @include mediaQuery($largeScreen_min_width) {
          width: 50%;
        }
        .text {
          width: 100%;
          height: auto;
          min-height: 1.5rem;
          max-height: 4.25rem;
          background-color: $black;
          @extend %font;
          color: $white;
          resize: none;
          @extend %scroll;
          &::-webkit-scrollbar {
            width: 0;
          }
          &::placeholder {
            text-transform: capitalize;
            color: $white;
          }
        }
        .submit {
          width: 30%;
          padding: $padding-6 $padding-8;
          @include flex-row-center($gap: $gap-12);
          @extend %font;
          background-color: $white;
          border-radius: $b-r-15;
          text-transform: capitalize;
          .icon {
            height: 100%;
            @include flex-row-center();
          }
        }
      }
    }
  }
}
