@use "./colors" as *;
@use "../helpers/mixins" as *;
@use "../helpers/fonts" as *;
@use "./placeholders" as *;
@use "./variables/global" as *;
@use "./variables/mediaQuery" as *;

%scroll {
  overflow-y: auto;
  &::-webkit-scrollbar-track {
    @extend %track;
    width: 0;
  }
  &::-webkit-scrollbar {
    @extend %scrollbar;
    width: 0;
  }
  &::-webkit-scrollbar-thumb {
    @extend %thumb;
  }
}
%flex {
  @include flex-variant(flex, $direction: row, $align: center, $gap: $gap-16);
}
%img {
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}
.chat {
  height: 100%;
  @include flex-variant(flex, $direction: column);
  .head {
    min-height: 8rem;
    padding: $main-padding;
    border-bottom: $border-1 solid $white;
    .content {
      height: 100%;
      @include flex-variant(
        flex,
        $direction: column,
        $justify: center,
        $gap: $gap-12
      );
      @include mediaQuery($Tablet_min_width) {
        & {
          @include flex-variant(
            flex,
            $direction: row,
            $align: center,
            $justify: space-between
          );
        }
      }
      .user {
        @include flex-variant(
          flex,
          $direction: column,
          $align: center,
          $gap: $gap-16
        );
        @include mediaQuery($Tablet_min_width) {
          & {
            @include flex-variant(flex, $direction: row, $align: flex-end);
          }
        }
        .img {
          width: 3.625rem;
          height: 3.625rem;
          @extend %img;
        }
        .text {
          font-family: "Cairo-ExtraBold";
          font-size: $f-s-18;
          text-align: center;
          > p:first-of-type {
            text-transform: capitalize;
          }
          @include mediaQuery($Tablet_min_width) {
            & {
              text-align: initial;
            }
          }
        }
      }
      .tools {
        @include flex-variant(
          flex,
          $direction: row,
          $justify: center,
          $align: center,
          $gap: $gap-24
        );
        font-family: "Cairo-ExtraBold";
        font-size: $f-s-24;
        @include mediaQuery($Tablet_min_width) {
          & {
            justify-content: initial;
          }
        }
        .icon {
          @include flex-row-center();
          cursor: pointer;
        }
      }
    }
  }
  .body {
    @include flex-variant(flex, $direction: column, $justify: space-between);
    flex-grow: 1;
    font-family: "Cairo-Bold";
    font-size: $f-s-16;
    .messages {
      width: 100%;
      max-height: calc(100vh - 14rem);
      padding: $main-padding;
      @include flex-variant(
        flex,
        $direction: column,
        $justify: space-between,
        $gap: $gap-16
      );
      @extend %scroll;
      .message {
        @include flex-variant(
          flex,
          $direction: row,
          $align: flex-start,
          $gap: $gap-16
        );
        .img {
          width: 3.125rem;
          height: 3.125rem;
          @extend %img;
        }
        .msgText {
          padding: $padding-8 $padding-12;
          @include flex-variant(
            flex,
            $direction: column,
            $justify: space-between
          );
          font-size: $f-s-16;
          border-radius: $b-r-16;
          box-shadow: $boxShadow-1;
          .time {
            font-size: $f-s-12;
            font-family: "Cairo-Medium";
          }
        }
        &.right {
          .msgText {
            background-color: $grey-14;
            border-top-right-radius: $b-r-2;
            .time {
              @include flex-variant(flex, $direction: row, $justify: flex-end);
              color: $grey-10;
            }
          }
        }
        &.left {
          justify-content: flex-end;
          .img {
            order: 2;
          }
          .msgText {
            order: 1;
            background-color: $pink;
            border-top-left-radius: $b-r-2;
            color: $white;
            .time {
              @include flex-variant(
                flex,
                $direction: row,
                $justify: flex-start
              );
              color: $white-1;
            }
          }
        }
      }
    }
    .sendBox {
      width: 100%;
      min-height: 15%;
      padding: $main-padding;
      box-shadow: $boxShadow-2;
      .sendForm {
        width: 100%;
        height: 100%;
        @extend %flex;
        flex-wrap: wrap;
        justify-content: end;
        @include mediaQuery($Tablet_min_width) {
          & {
            flex-wrap: nowrap;
            justify-content: start;
          }
        }
        .submit {
          min-width: 3rem;
          height: 3rem;
          padding: $padding-6 $padding-8;
          @include flex-row-center();
          background-color: $pink;
          color: $white;
          font-size: $f-s-22;
          border-radius: 50%;
          box-shadow: $boxShadow-1;
        }
        .textWrapper {
          width: 100%;
          max-height: 8.25rem;
          padding: $padding-16 $padding-28;
          @include flex-variant(
            flex,
            $direction: row,
            $align: center,
            $gap: $gap-24,
            $wrap: wrap
          );
          background-color: $black;
          box-shadow: $boxShadow-1;
          border-radius: $b-r-15;
          @include mediaQuery($Tablet_min_width) {
            & {
              width: calc((calc(calc(100% - $gap-16) * 60)) / 100);
            }
          }
          .text {
            min-height: 1.875rem;
            max-height: 6.25rem;
            flex-grow: 1;
            background-color: $black;
            font-family: "Cairo-Bold";
            font-size: $f-s-16;
            color: $white;
            resize: none;
            @extend %scroll;
            &::-webkit-scrollbar {
              width: 0;
            }
            &::placeholder {
              text-transform: capitalize;
              color: $white;
            }
          }
          .attachments {
            @extend %flex;
            .attachment {
              @include flex-row-center();
              background-color: transparent;
              font-size: $f-s-22;
              color: $white;
            }
          }
        }
      }
    }
  }
}
