$black: #000;
$white: #fff;

$grey-1: #424242;
$grey-2: rgba(108, 107, 107, 0.4);
$grey-3: rgba(102, 102, 102, 0.3);
$grey-4: rgba(0, 0, 0, 0.25);
$grey-5: #666666;
$grey-6: #c9c9c9;
$grey-7: #a3a3a3;
$grey-8: #c3c3c3;
$grey-9: #4e4b4b;

$brown-1: #765300;
$brown-2: #271c01;
$pink: #d11242;
