$black: #000;
$white: #fff;
$white-1: #f9f9f9;

$grey-1: #424242;
$grey-2: rgba(108, 107, 107, 0.4);
$grey-3: rgba(102, 102, 102, 0.3);
$grey-4: rgba(0, 0, 0, 0.25);
$grey-5: #666666;
$grey-6: #c9c9c9;
$grey-7: #a3a3a3;
$grey-8: #c3c3c3;
$grey-9: #4e4b4b;
$grey-10: #797474;
$grey-11: #6c6864;
$grey-12: #d9d9d9;
$grey-13: #d4d4d4;
$grey-14: #eeeeee;

$brown-1: #765300;
$brown-2: #271c01;
$pink: #d11242;
$pink-1: #d94d70;
$pink-2: #ed5b75;

$red: #d93025;
$red-1: #e93e36;

$green-1: #7ec832;
