@use "../helpers/fonts" as *;
@use "../helpers/mixins" as *;
@use "./colors" as *;
@use "./variables/global" as *;
@use "./variables/mediaQuery" as *;
@import "./placeholders";

.form {
  width: 100%;
  @include flex-variant(flex, $direction: column, $gap: $gap-40);
  @include mediaQuery($smallScreen_min_width) {
    width: 80%;
  }
  @include mediaQuery($largeScreen_min_width) {
    width: calc(((100% - $gap-28) * 60) / 100);
  }
  @extend %formStyle;
  .inputs {
    width: 100%;
    @include flex-variant(flex, $direction: column, $gap: $gap-20);
    .input {
      width: 100%;
      @include flex-variant(
        flex,
        $direction: column,
        $justify: space-between,
        $gap: $gap-8
      );
      .inputItem {
        @extend %inputStyle;
        @include flex-variant(flex, $direction: row, $align: center);
        .inputField {
          min-width: 0;
          height: 100%;
          float: right;
          @extend %inputFieldStyle;
        }
        .icon {
          @include flex-variant(
            flex,
            $direction: row,
            $align: center,
            $justify: flex-end
          );
          @extend %iconStyle;
          color: $pink;
          pointer-events: none;
        }
        &.en {
          .icon {
            left: initial;
            right: $padding-15;
          }
        }
        &.invalid input::placeholder {
          color: $red;
        }
      }
      .textArea {
        width: 100%;
        height: 14.375rem;
        padding: $padding-15;
        @extend %inputFieldStyle;
        flex: initial;
        border: $border-1 solid $grey-9;
        border-radius: $b-r-8;
        resize: none;
        &.invalid {
          color: $red;
          border-color: $red;
        }
      }
    }
    .feedback {
      @extend %feedbackStyle;
    }
  }
  .button {
    width: 100%;
    justify-content: center;
  }
}
