@use "../helpers/fonts" as *;
@use "../helpers/mixins" as *;

.contract {
  //min-height: 150vh;
  padding-top: 1.75rem;
  @include flex-variant(
    flex,
    $direction: column,
    $align: center,
    $gap: 1.75rem
  );
  .head {
    width: 100%;
    @include flex-variant(
      flex,
      $direction: row,
      $align: center,
      $justify: center,
      $gap: 1.75rem
    );
    h1 {
      font-family: "Cairo-Bold";
      font-size: 2.1875rem;
    }
    .logo {
      width: 10.8125rem;
      img {
        width: 100%;
      }
    }
  }
  .body {
    width: 100%;
    @include flex-variant(flex, $direction: row, $gap: 1.75rem);
    .image {
      width: calc(((100% - 0.9375rem) * 30) / 100);
      img {
        width: 100%;
      }
    }
  }
}
/*.vector {
  position: absolute;
  width: 17%;
  right: 0;
  bottom: 0;
}*/
