@use "../helpers/fonts" as *;
@use "../helpers/mixins" as *;
@use "./variables/global" as *;
@use "./variables/mediaQuery" as *;

.contract {
  padding: $main-padding;
  @include flex-variant(
    flex,
    $direction: column,
    $align: center,
    $gap: $gap-28
  );
  .body {
    width: 100%;
    @include flex-row-center($gap: $padding-28);
    .image {
      display: none;
      @include mediaQuery($largeScreen_min_width) {
        display: block;
        width: calc(((100% - $padding-28) * 40) / 100);
      }
      img {
        width: 100%;
      }
    }
  }
}
/*.vector {
  position: absolute;
  width: 17%;
  right: 0;
  bottom: 0;
}*/
