@use "../helpers/fonts" as *;
@use "../helpers/mixins" as *;
@use "./colors" as *;
@use "./variables/global" as *;

%flex {
  @include flex-variant(flex, $direction: row, $align: center, $gap: $gap-30);
}
%font {
  font-family: "Cairo-Bold";
  font-size: $f-s-18;
}
%width {
  & > p:first-child {
    min-width: calc(((100% - calc(7 * $gap-30)) * 5) / 100);
    max-width: calc(((100% - calc(7 * $gap-30)) * 5) / 100);
  }
  & > p:nth-child(2) {
    min-width: calc(((100% - calc(7 * $gap-30)) * 10) / 100);
    max-width: calc(((100% - calc(7 * $gap-30)) * 10) / 100);
  }
  @for $i from 3 through 5 {
    & > p:nth-child(#{$i}) {
      min-width: calc(((100% - calc(7 * $gap-30)) * 15) / 100);
      max-width: calc(((100% - calc(7 * $gap-30)) * 15) / 100);
    }
  }
  & > p:nth-child(6) {
    min-width: calc(((100% - calc(7 * $gap-30)) * 24) / 100);
    max-width: calc(((100% - calc(7 * $gap-30)) * 24) / 100);
  }
  @for $i from 7 through 8 {
    & > p:nth-child(#{$i}) {
      min-width: calc(((100% - calc(7 * $gap-30)) * 8) / 100);
      max-width: calc(((100% - calc(7 * $gap-30)) * 8) / 100);
    }
    & > button:nth-child(#{$i}) {
      min-width: calc(((100% - calc(7 * $gap-30)) * 8) / 100);
      max-width: calc(((100% - calc(7 * $gap-30)) * 8) / 100);
    }
  }
}
%padding {
  padding: $padding-12 $padding-24;
}
.contracts {
  height: 100%;
  padding: $main-padding;
  //overflow-x: scroll;
  .items {
    min-width: fit-content;
    //white-space: nowrap;
    @include flex-variant(flex, $direction: column, $gap: $gap-35);

    .table {
      .head {
        @extend %padding;
        @extend %flex;
        @extend %font;
        color: $white;
        text-transform: capitalize;
        text-align: center;
        border-radius: $b-r-12;
        background-color: $grey-9;
        @extend %width;
      }
      .tableBody {
        @extend %padding;
        @include flex-variant(flex, $direction: column, $gap: $gap-16);
        border: $b-r-1 solid $grey-10;
        border-radius: $b-r-12 $b-r-12 0 0;
        .item {
          @extend %width;
          @extend %flex;
          text-align: center;

          .num {
            @extend %font;
          }
          .name {
            color: $pink;
            @extend %font;
          }
          .type {
            font-family: "Cairo-Bold";
            font-size: $f-s-16;
          }
          .delete {
            height: 3rem;
            @include flex-row-center();
            background-color: $black;
            color: $white;
            font-size: $f-s-24;
            border-radius: $b-r-15;
          }
        }
      }
    }
  }
}
