@use "../helpers/fonts" as *;
@use "../helpers/mixins" as *;
@use "./colors" as *;
@use "./variables/global" as *;
@use "./placeholders" as *;
@use "./variables/mediaQuery" as *;

%flex {
  @include flex-variant(flex, $direction: row, $align: center, $gap: $gap-30);
}
%font {
  font-family: "Cairo-Medium";
  font-size: $f-s-16;
  text-transform: capitalize;
}
%width {
  &:first-of-type {
    width: 6.25rem;
    min-width: 6.25rem;
    max-width: 6.25rem;
  }
  &:nth-of-type(2) {
    width: 8.75rem;
    min-width: 8.75rem;
    max-width: 8.75rem;
  }
  @for $i from 3 through 5 {
    &:nth-of-type(#{$i}) {
      width: 11.25rem;
      min-width: 11.25rem;
      max-width: 11.25rem;
    }
  }
  &:nth-of-type(6) {
    width: 12.5rem;
    min-width: 12.5rem;
    max-width: 12.5rem;
  }
  @for $i from 7 through 8 {
    &:nth-of-type(#{$i}) {
      width: 6.25rem;
      min-width: 6.25rem;
      max-width: 6.25rem;
    }
  }
}
%padding {
  padding: $padding-12 $padding-24;
}
.contracts {
  height: 100%;
  padding: $main-padding;
  .filterForm {
    padding: 0 $padding-24;
    margin-bottom: $m-35;
    @include flex-variant(
      flex,
      $direction: row,
      $align: center,
      $gap: $gap-30,
      $wrap: wrap
    );
    .title {
      @extend %font;
    }
    .inputs {
      @include flex-variant(flex, $direction: row, $gap: $gap-30, $wrap: wrap);
      .input {
        height: 2rem;
        width: 12rem;
        padding: 0 $padding-10;
        border-bottom: $border-1 solid $grey-7;
        input {
          height: 100% !important;
          &::placeholder {
            text-transform: capitalize;
            color: $grey-5;
          }
        }
        .icon {
          @include flex-variant(
            flex,
            $direction: row,
            $align: center,
            $justify: flex-end
          );
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: $padding-10;
          font-size: $f-s-18;
          color: $pink;
        }
        &.en {
          .icon {
            left: initial;
            right: $padding-10;
          }
        }
      }
    }
    .filterBtn {
      padding: $padding-6 $padding-10;
      @include flex-variant(
        flex,
        $direction: row,
        $align: center,
        $gap: $gap-8
      );
      background-color: $pink;
      @extend %font;
      color: $white;
      border-radius: $b-r-8;
      box-shadow: $boxShadow-2;

      .icon {
        @include flex-row-center();
      }
    }
  }

  .contractsTable {
    background-color: $white-1;
    border-radius: $b-r-12;
    box-shadow: $boxShadow-2;
    overflow: hidden;
    th {
      @extend %width;
    }
    td {
      @extend %width;
      overflow-wrap: break-word;
      button {
        width: 100%;
        @include flex-row-center();
        color: $white;
        font-size: $f-s-22;
        background-color: transparent;

        &:first-of-type {
          color: $black;
        }
        &.delete {
          color: $red;
        }
      }
    }
  }
}
