@use "../helpers/mixins" as *;
@use "../helpers/fonts" as *;
@use "./colors" as *;
@use "./variables/mediaQuery" as *;

%color {
  background-color: $white;
  color: $black;
}
%text {
  font-size: 1.25rem;
}
.dashboard {
  width: 100%;
  padding: 1.75rem 2.5rem;
  @include flex-variant(flex, $direction: column, $gap: 2.5rem);
  text-transform: capitalize;

  .info {
    @include flex-variant(
      flex,
      $direction: column,
      $align: center,
      $gap: 1.5625rem
    );
    font-family: "Cairo-Medium";
    @include mediaQuery($largeScreen_min_width) {
      & {
        @include flex-variant(
          flex,
          $direction: row,
          $align: center,
          $gap: 1.5625rem
        );
      }
    }
    .dateTime {
      //width: calc(((100% - 1.5625rem) * 100) / 100);
      //flex-basis: calc(((100% - 1.5625rem) * 100) / 100);
      @include flex-variant(
        flex,
        $direction: column,
        $justify: center,
        $gap: 1.5625rem
      );
      @include mediaQuery($largeScreen_min_width) {
        & {
          width: calc(((100% - 1.5625rem) * 25) / 100);
          flex-basis: calc(((100% - 1.5625rem) * 25) / 100);
        }
      }
      .item {
        @include flex-variant(
          flex,
          $direction: row,
          $align: center,
          $justify: space-between,
          $gap: 1rem
        );
        @include mediaQuery($largeScreen_min_width) {
          & {
            justify-content: center;
          }
        }
        .icon {
          @include flex-variant(
            flex,
            $direction: row,
            $align: center,
            $justify: center
          );
          font-size: 1.75rem;
        }
        > span {
          @extend %text;
          text-align: center;

          @include mediaQuery($largeScreen_min_width) {
            & {
              flex: 1 0;
            }
          }
        }
        .date {
          @include flex-variant(
            flex,
            $direction: row,
            $justify: center,
            $gap: 1rem
          );

          @include mediaQuery($largeScreen_min_width) {
            & {
              flex: 1 0;
            }
          }
          > span {
            @extend %text;
          }
          @extend %text;
        }
      }
    }
    .counters {
      width: 100%;
      flex-basis: 100%;
      @include flex-variant(
        flex,
        $direction: column,
        //$align: stretsh,
        $gap: 1.5625rem
      );
      flex: 1 0;
      @include mediaQuery($smallScreen_min_width) {
        @include flex-variant(flex, $direction: row, $gap: 1.5625rem);
      }
      @include mediaQuery($largeScreen_min_width) {
        & {
          width: calc(((100% - 1.5625rem) * 75) / 100);
          flex-basis: calc(((100% - 1.5625rem) * 75) / 100);
        }
      }
      .card {
        width: 100%;
        padding: 0.9375rem;
        @include flex-variant(flex, $direction: row, $align: center);
        border-radius: 0.875rem;
        box-shadow: 0 0.25rem 0.25rem 0 $grey-4;
        @include mediaQuery($smallScreen_min_width) {
          & {
            width: calc((100% - calc(2 * 1.5625rem)) / 3);
          }
        }
        @include mediaQuery($XlargeScreen_min_width) {
          & {
            width: calc(32% - calc(2 * 1.5625rem));
          }
        }
        .icon {
          width: 3.125rem;
          height: 3.125rem;
          @include flex-variant(
            flex,
            $direction: row,
            $align: center,
            $justify: center
          );
          font-size: 1.5rem;
          background-color: $grey-3;
          border-radius: 50%;
        }
        .text {
          height: 100%;
          @include flex-variant(
            flex,
            $direction: column,
            $justify: space-between
          );
          flex: 1 0;
          text-align: center;
          p {
            font-size: 1.25rem;
          }
          span {
            font-size: 1.75rem;
            font-family: "Cairo-ExtraBold";
          }
        }
        &:first-of-type {
          background-color: $pink;
          color: $white;
          .icon {
            @extend %color;
          }
        }
        &:nth-of-type(2) {
          background-color: $white;
          color: $black;
          .icon {
            background-color: $black;
            color: $white;
          }
        }
        &:nth-of-type(3) {
          background-color: $grey-7;
          color: $white;
          .icon {
            @extend %color;
          }
        }
      }
    }
  }
  .chart {
    width: 100%;
    height: 22.8125rem;
    padding: 1.75rem 1.25rem;
    border-radius: 0.9375rem;
    background-color: $white;
    box-shadow: 0 0.25rem 0.25rem 0 $grey-4;
  }
  .houses {
    h1 {
      margin-bottom: 1.75rem;
      font-family: "Cairo-ExtraBold";
      font-size: 1.1875rem;
    }
  }
}
