@use "../helpers/fonts" as *;
@use "../helpers/mixins" as *;

.contract {
  padding-top: 1.75rem;
  @include flex-variant(
    flex,
    $direction: column,
    $align: center,
    $gap: 1.75rem
  );
  .body {
    width: 100%;
    @include flex-variant(flex, $direction: row, $gap: 1.75rem);
    .image {
      width: calc(((100% - 0.9375rem) * 30) / 100);
      img {
        width: 100%;
      }
    }
  }
}
