@use "../helpers/fonts" as *;
@use "../helpers/mixins" as *;
@use "./colors" as *;
@use "./variables/global" as *;
@use "./variables/mediaQuery" as *;
@import "./placeholders";

%flex {
  @include flex-variant(flex, $direction: column, $gap: $gap-20);
}
%flex-column {
  @include flex-variant(
    flex,
    $direction: column,
    $justify: space-between,
    $gap: $gap-16
  );
}
.form {
  @extend %formStyle;
  .inputs {
    width: 100%;
    @extend %flex;
    .selectItem {
      width: 100%;
      @extend %flex-column;
    }
    .input {
      width: 100%;
      @include mediaQuery($medScreen_min_width) {
        width: 65%;
      }
      @extend %flex-column;
      .inputItem {
        @extend %inputStyle;
        @include flex-variant(flex, $direction: row, $align: center);
        .inputField {
          @extend %inputFieldStyle;
        }
        .icon {
          @extend %iconStyle;
        }
      }
    }
  }
  .radioButtons {
    width: 100%;
    @include flex-variant(
      flex,
      $direction: row,
      $justify: space-between,
      $gap: $gap-32,
      $wrap: wrap
    );
    .radioButton {
      @extend %flex-column;
      justify-content: stretch;
      .title {
        font-family: "Cairo-ExtraBold";
        font-size: $f-s-18;
        color: $pink;
        text-transform: capitalize;
      }
      .content {
        @include flex-variant(flex, $direction: row, $gap: $gap-64);
      }
    }
  }
  .feedback {
    @extend %feedbackStyle;
  }
  .en {
    margin: 0 0 0 auto;
  }
}
