@use "../helpers/fonts" as *;
@use "../helpers/mixins" as *;
@use "./colors" as *;
@use "./variables/global" as *;
@use "./variables/mediaQuery" as *;

.button {
  padding: $padding-12 $padding-28;
  margin: 0;
  white-space: nowrap;
  @include flex-variant(
    flex,
    $direction: row,
    $align: center,
    $justify: space-between,
    $gap: $gap-20
  );
  font-size: $f-s-20;
  font-family: "Cairo-ExtraBold";
  color: $white;
  text-transform: capitalize;
  background-color: $pink;
  border-radius: $b-r-15;
  box-shadow: $boxShadow-1;
  @include mediaQuery($medScreen_min_width) {
    margin-right: auto;
  }
  @include mediaQuery($XXlargeScreen_min_width) {
    width: 25%;
  }
  .icon {
    @include flex-row-center();
    font-size: $f-s-24;
  }
}
