@use "./colors" as *;
@use "../helpers/mixins" as *;
@use "../helpers/fonts" as *;
@use "./variables/global" as *;
@use "./variables/mediaQuery" as *;

%font {
  font-family: "Cairo-Bold";
  font-size: $f-s-16;
  color: $white;
  text-transform: capitalize;
}
%tableItems {
  @include flex-variant(flex, $direction: row, $align: center);
  padding: 0 $padding-24;
  font-size: $f-s-16;
  > p:first-of-type {
    width: 2%;
  }
  > p:not(:first-of-type) {
    width: 15%;
    text-align: center;
  }
}
%icon {
  @include flex-variant(flex, $direction: row, $align: center);
  @extend %font;
  font-size: $f-s-32;
  color: $grey-7;
}
%flex-center {
  @include flex-row-center();
}
%width {
  &:first-of-type {
    width: 6.25rem;
    min-width: 6.25rem;
    max-width: 6.25rem;
  }
  @for $i from 2 through 3 {
    &:nth-of-type(#{$i}) {
      width: 8.75rem;
      min-width: 8.75rem;
      max-width: 8.75rem;
    }
  }
  &:nth-of-type(4) {
    width: 12.5rem;
    min-width: 12.5rem;
    max-width: 12.5rem;
  }
}
.review {
  @include flex-variant(flex, $direction: column, $gap: $gap-28);

  .filters {
    padding: $padding-16;
    @include flex-variant(flex, $direction: column, $gap: $gap-12);
    background-color: $pink;
    @extend %font;
    border-radius: $b-r-18 $b-r-18 0 0;
    @include mediaQuery($largeScreen_min_width) {
      & {
        @include flex-variant(
          flex,
          $direction: row,
          $align: center,
          $justify: space-between
        );
      }
    }
    .filterItems {
      @include flex-variant(
        flex,
        $direction: row,
        $align: stretch,
        $gap: $gap-16,
        $wrap: wrap
      );
      @include mediaQuery($medScreen_min_width) {
        & {
          flex-wrap: nowrap;
        }
      }
      .button {
        width: 100%;
        height: 3.875rem;
        padding: $padding-10;
        @extend %flex-center;
        color: $white;
        @extend %font;
        background-color: $black;
        border: $border-1 solid $white;
        border-radius: $b-r-15;
        text-align: center;

        @include mediaQuery($mobile_min_width) {
          & {
            width: calc((100% - $gap-16) / 2);
          }
        }
        @include mediaQuery($medScreen_min_width) {
          & {
            width: 12.375rem;
          }
        }
      }
    }
  }
  .info {
    padding: $padding-16;
    background-color: $pink-1;
    .wrapper {
      @include flex-variant(
        flex,
        $direction: row,
        $align: stretch,
        $gap: $gap-16,
        $wrap: wrap
      );
      @include mediaQuery($XlargeScreen_min_width) {
        & {
          justify-content: center;
          flex-wrap: nowrap;
        }
      }
      .infoItem {
        width: 100%;
        height: 6.625rem;
        padding: $padding-10;
        @extend %flex-center;
        @extend %font;
        text-align: center;
        background-color: $pink;
        border-radius: $b-r-15 $b-r-40 $b-r-15 $b-r-15;
        border: 0.0625rem solid $white;
        cursor: pointer;
        &.active {
          background-color: $black;
        }
        @include mediaQuery($mobile_min_width) {
          & {
            width: calc((100% - $gap-16) / 2);
          }
        }
        @include mediaQuery($medScreen_min_width) {
          & {
            width: 12.375rem;
          }
        }
      }
    }
  }
  .data {
    min-height: 65vh;
    .filteredData {
      padding: $padding-28 0;
      @include flex-variant(flex, $direction: column, $gap: $gap-24);
      .message {
        text-align: center;
        @extend %font;
        color: $black;
      }
      .item {
        @include flex-variant(
          flex,
          $direction: row,
          $align: center,
          $gap: $gap-28
        );
        .name {
          width: calc((calc((100% - calc(2 * $gap-28)) * 40)) / 100);
          @extend %font;
          color: $black;
          overflow-wrap: break-word;
          @include mediaQuery($largeScreen_min_width) {
            & {
              width: calc((calc((100% - calc(2 * $gap-28)) * 25)) / 100);
            }
          }
        }
        .value {
          width: calc((calc((100% - calc(2 * $gap-28)) * 40)) / 100);
          @extend %font;
          color: $grey-10;
          a {
            color: $grey-10;
          }
          @include mediaQuery($largeScreen_min_width) {
            & {
              width: calc((calc((100% - calc(2 * $gap-28)) * 25)) / 100);
            }
          }
        }
        .icon {
          width: calc((calc((100% - calc(2 * $gap-28)) * 20)) / 100);
          @extend %icon;
          @include mediaQuery($largeScreen_min_width) {
            & {
              width: calc((calc((100% - calc(2 * $gap-28)) * 10)) / 100);
            }
          }
        }
      }
      .map {
        width: 100%;
        height: 30rem;
        border: $border-1 solid #fff;
        border-radius: $b-r-15;
        overflow: hidden;
      }
      .tableTitle {
        text-transform: capitalize;
        font-family: "Cairo-Bold";
        font-size: $f-s-24;
      }
      .table {
        background-color: $white-1;
        border-radius: $b-r-12;
        box-shadow: $boxShadow-2;
        overflow: hidden;
        th {
          @extend %width;
        }
        td {
          @extend %width;
          overflow-wrap: break-word;
          button {
            width: 100%;
            @include flex-row-center();
            color: $white;
            font-size: $f-s-22;
            background-color: transparent;

            &:first-of-type {
              color: $black;
            }
            &.delete {
              color: $red;
            }
          }
        }
      }
    }
  }
}
