@use "../helpers/mixins" as *;
@use "./colors" as *;
@use "./variables/global" as *;
@use "./variables/mediaQuery" as *;

%img-container {
  overflow: hidden;
  border-radius: $b-r-23;
  cursor: pointer;
}
%arrow {
  @include flex-row-center();
  font-size: $f-s-60;
  background-color: transparent;
  color: $white;
}
.gallery {
  width: 100%;
  padding-top: $padding-28;
  .imgsContainer {
    width: 100%;
    height: 35.9375rem;
    @include flex-variant(
      flex,
      $direction: column,
      $justify: center,
      $gap: $gap-28
    );
    @include mediaQuery($largeScreen_min_width) {
      @include flex-variant(
        flex,
        $direction: row,
        $align: center,
        $gap: $gap-28
      );
    }
    .largeImg {
      width: 100%;
      height: 80%;
      @extend %img-container;
      order: 1;
      @include mediaQuery($largeScreen_min_width){
        width: calc(((100% - $gap-28) * 80) / 100);
        height: 100%;
        order: 2;
      }
      img {
        width: 100%;
        height: 100%;
      }
      &.singleImg {
        width: 100% !important;
        height: 100% !important;
      }
      /*&.mainImg {
        width: 100%;
        height: 100%;
      }*/
    }
    .sideImages {
      width: 100%;
      height: 20%;
      @include flex-variant(flex, $direction: row, $gap: $gap-28);
      order: 2;
      @include mediaQuery($largeScreen_min_width) {
        width: calc(((100% - $gap-28) * 20) / 100);
        height: 100%;
        @include flex-variant(flex, $direction: column,$justify:flex-start,$gap: $gap-28);
        order: 1;
      }
      .img {
        //max-height: calc(((100% - (3 * $gap-28)) * 25) / 100);
        width: calc(((100% - (3 * $gap-28)) * 25) / 100);
        height: 100%;
        @extend %img-container;
        @include mediaQuery($largeScreen_min_width){
          width: 100%;
          height: calc(((100% - (3 * $gap-28)) * 25) / 100);
          //flex: 1;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
.leftArrow {
  @extend %arrow;
}
.rightArrow {
  @extend %arrow;
}
