@use "../helpers/fonts" as *;
@use "../helpers/mixins" as *;
@use "./colors" as *;
@use "./variables/global" as *;

.header {
  margin-bottom: $m-35;
  @include flex-variant(flex, $direction: row, $align: center, $gap: $gap-15);
  font-family: "Cairo-Bold";

  h1 {
    font-size: $f-s-22;
    color: $black;
    text-transform: capitalize;
  }

  .icon {
    @include flex-row-center();
    color: $black;
    font-size: $f-s-32;

  }
}
