@use "./colors" as *;
@use "../helpers/mixins" as *;
@use "../helpers/fonts" as *;
@use "./variables/global" as *;
@use "./variables/mediaQuery" as *;

%font {
  font-family: "Cairo-ExtraBold";
  font-size: $f-s-18;
}
%arrow {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: $b-2 solid $black;
}
%flex {
  @include flex-variant(
    flex,
    $direction: column,
    $justify: center,
    $gap: $gap-24
  );
}
%flex-column {
  @include flex-variant(
    flex,
    $direction: column,
    $align: center,
    $gap: $gap-16
  );
}
%list-flex {
  @extend %flex-column;
  @include mediaQuery($smallScreen_min_width) {
    & {
      flex-direction: row;
    }
  }
}
.messages {
  height: 100%;
  padding: $main-padding;
  .body {
    @extend %flex;

    .list {
      @extend %flex;
      align-items: center;
      .listItem {
        width: 100%;
        padding: $padding-10 $padding-28;
        @extend %list-flex;
        font-family: "Cairo-Regular";
        font-size: $f-s-16;
        border-radius: $b-r-10;
        background-color: $white;
        box-shadow: $boxShadow-1;
        cursor: pointer;

        .text {
          width: 100%;
          @extend %list-flex;

          .img {
            width: 4.375rem;
            height: 4.375rem;
            flex-shrink: 0;
            border: $b-3 solid $white;
            border-radius: 50%;
            box-shadow: $boxShadow-1;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .info {
            flex: 1 0;
            @include flex-variant(
              flex,
              $direction: row,
              $align: center,
              $justify: space-between,
              $gap: $gap-8
            );
            .user {
              @extend %flex-column;
              font-family: "Cairo-Bold";
              @include mediaQuery($smallScreen_min_width) {
                & {
                  align-items: flex-start;
                }
              }
              .name {
                font-size: $f-s-18;
                line-height: 1;
                text-transform: capitalize;
              }
              .role {
                font-size: $f-s-16;
                line-height: 1;
              }
            }
            .action {
              color: $grey-5;
              font-size: $f-s-16;
            }
          }
        }
        .date {
          @include flex-variant(
            flex,
            $direction: column,
            $justify: center,
            $align: center
          );
          color: $grey-5;
          text-transform: capitalize;
          white-space: nowrap;
          @include mediaQuery($smallScreen_min_width) {
            align-items: flex-end;
          }
        }
      }
    }
  }
}
