@use "./colors" as *;
@use "../helpers/mixins" as *;
@use "../helpers/fonts" as *;
@use "./variables/global" as *;
@use "./variables/mediaQuery" as *;

%font {
  font-family: "Cairo-ExtraBold";
  font-size: $f-s-18;
}
%arrow {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: $b-2 solid $black;
}
%flex {
  @include flex-variant(
    flex,
    $direction: column,
    $justify: center,
    $gap: $gap-24
  );
}
.messages {
  height: 100%;
  padding: $main-padding;
  .body {
    @extend %flex;

    .list {
      @extend %flex;
      .listItem {
        padding: $padding-10 $padding-28;
        @include flex-variant(
          flex,
          $direction: row,
          $justify: space-between,
          $align: center,
          $gap: $gap-16
        );
        font-family: "Cairo-Regular";
        font-size: $f-s-16;
        border-radius: $b-r-10;
        background-color: $white;
        box-shadow: $boxShadow-1;
        cursor: pointer;

        .text {
          width: 100%;
          @include flex-variant(
            flex,
            $direction: column,
            $align: center,
            $gap: $gap-24
          );

          @include mediaQuery($Tablet_min_width) {
            & {
              flex-direction: row;
              gap: $gap-16;
            }
          }
          .img {
            width: 4.375rem;
            height: 4.375rem;
            flex-shrink: 0;
            border: $b-3 solid $white;
            border-radius: 50%;
            box-shadow: $boxShadow-1;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .info {
            @include flex-variant(
              flex,
              $direction: row,
              $align: center,
              $gap: $gap-8
            );
            .user {
              width: 100%;
              @include flex-variant(
                flex,
                $direction: column,
                $align: center,
                $gap: $gap-14
              );
              font-family: "Cairo-Bold";
              @include mediaQuery($Tablet_min_width) {
                & {
                  align-items: flex-start;
                }
              }
              .name {
                font-size: $f-s-18;
                line-height: 1;
                text-transform: capitalize;
              }
              .role {
                font-size: $f-s-16;
                line-height: 1;
              }
            }
            .action {
              color: $grey-5;
              font-size: $f-s-16;
            }
          }
        }
        .date {
          color: $grey-5;
        }
      }
    }
  }
}
