@use "./colors" as *;
@use "../helpers/mixins" as *;
@use "../helpers/fonts" as *;
@use "./variables/mediaQuery" as *;
@use "./variables/global" as *;

.modal {
  width: 90%;
  padding: $padding-16 $padding-28;
  @include flex-variant(
    flex,
    $direction: column,
    $align: center,
    $gap: $gap-12
  );
  position: fixed;
  z-index: 1000;
  background-color: $white;
  border-radius: $b-r-8;
  text-align: center;
  font-family: "Cairo-Regular";
  text-transform: capitalize;
  color: $grey-1;
  box-shadow: $boxShadow-1;
  @include mediaQuery($smallScreen_min_width) {
    & {
      width: 32rem;
    }
  }
  .icon {
    width: 4rem;
    height: 4rem;
    padding: $padding-15;
    @include flex-row-center();
    font-size: $f-s-28;
    color: $green-1;
    border: $b-2 solid $green-1;
    border-radius: 50%;
    &.deleteIcon {
      padding: 0;
      font-size: $f-s-52;
      border: none;
      color: $red-1;
    }
  }

  .head {
    font-family: "Cairo-Bold";
    font-size: $f-s-28;
  }
  .message {
    font-size: $f-s-18;
  }
  .buttons {
    width: 100%;
    margin-top: $m-16;
    @include flex-variant(
      flex,
      $direction: row,
      $align: center,
      $justify: flex-end,
      $gap: $gap-20
    );
    button {
      padding: $padding-8 $padding-20;
      font-family: "Cairo-Bold";
      text-transform: capitalize;
      color: $white;
      font-size: $f-s-16;
      border-radius: $b-r-8;
    }
    .deleteButton {
      background-color: $red-1;
    }
    .cancelButton {
      background-color: $grey-1;
    }
  }
}
