@use "./colors" as *;
@use "../helpers/mixins" as *;
@use "../helpers/fonts" as *;
@use "./variables/mediaQuery" as *;
@use "./variables/global" as *;

.nav {
  width: 100%;
  height: 6rem;
  padding: $padding-15 $padding-40;
  position: relative;
  z-index: 999;
  background-color: $black;
  box-shadow: $boxShadow-1;
  &.dark {
    background-color: $white;
  }
  .items {
    width: 100%;
    height: 100%;
    @include flex-variant(
      flex,
      $direction: row,
      $align: center,
      $justify: space-between,
      $gap: $gap-30
    );
    @include mediaQuery($XlargeScreen_min_width) {
      & {
        gap: $gap-16;
      }
    }
    @include mediaQuery($XlargeScreen_min_width) {
      & {
        gap: $gap-50;
      }
    }

    .title {
      @include flex-variant(
        flex,
        $direction: row,
        $align: center,
        $gap: $gap-30
      );
      .logo {
        width: 10.8125rem;
        display: none;
        @include mediaQuery($largeScreen_min_width) {
          & {
            display: block;
          }
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      .bars {
        width: 1.5625rem;
        @include flex-variant(
          flex,
          $direction: column,
          $justify: center,
          $gap: $gap-8
        );
        cursor: pointer;
        @include mediaQuery($XlargeScreen_min_width) {
          & {
            display: none !important;
          }
        }
        span {
          width: 100%;
          height: 0.0625rem;
          background-color: $white;
          border-radius: $b-r-2;
          &:nth-of-type(2) {
            width: 50%;
          }
        }
      }
    }
    .userInfo {
      position: relative;
      cursor: pointer;
      flex: 1 0;
      @include mediaQuery($smallScreen_min_width) {
        & {
          flex: 0;
        }
      }
      .userIcon {
        padding: $padding-15 0;
        @include flex-variant(
          flex,
          $direction: row,
          $align: center,
          $justify: flex-end
        );
        color: $white;
        font-size: $f-s-36;
        @include mediaQuery($smallScreen_min_width) {
          & {
            display: none !important;
          }
        }
      }
    }
  }
}
