@use "./colors" as *;
@use "../helpers/mixins" as *;
@use "../helpers/fonts" as *;

.nav {
  width: 100%;
  padding: 0.9375rem 0;
  position: relative;
  z-index: 100;
  background-color: $black;
  box-shadow: 0 0.25rem 0.25rem 0 $grey-4;

  .items {
    width: 100%;
    @include flex-variant(
      flex,
      $direction: row,
      $align: center,
      $gap: 3.125rem
    );

    .title {
      @include flex-variant(
        flex,
        $direction: row,
        $align: center,
        $gap: 1.875rem
      );
      .logo {
        width: 10.8125rem;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .bars {
        width: 1.5625rem;
        @include flex-variant(
          flex,
          $direction: column,
          $justify: center,
          $gap: 0.5rem
        );
        cursor: pointer;
        span {
          width: 100%;
          height: 0.0625rem;
          background-color: $white;
          border-radius: 0.125rem;
          &:nth-of-type(2) {
            width: 50%;
          }
        }
      }
    }

    .search {
      flex-grow: 1;
      .input {
        width: 20rem;
        position: relative;
        input {
          width: 100%;
          padding: 0.5rem 1.5rem;
          border: 0.0625rem solid $grey-1;
          border-radius: 0.4375rem;
          font-family: "Cairo-Bold";
          font-size: 1rem;
          &::placeholder {
            color: $grey-2;
          }
        }
        .searchIcon {
          @include flex-variant(
            flex,
            $direction: row,
            $align: center,
            $justify: center
          );
          position: absolute;
          top: 50%;
          left: 1.5rem;
          transform: translateY(-50%);
          font-size: 1.25rem;
          color: $green-1;
        }
      }
    }

    .tools {
      @include flex-variant(
        flex,
        $direction: row,
        $align: center,
        $gap: 3.125rem
      );
      .icons {
        @include flex-variant(
          flex,
          $direction: row,
          $align: center,
          $gap: 1.5625rem
        );
        color: $white;
        .icon {
          @include flex-variant(
            flex,
            $direction: row,
            $align: center,
            $justify: center
          );
          font-size: 1.5rem;
          cursor: pointer;
        }
      }
      .userInfo {
        @include flex-variant(
          flex,
          $direction: row,
          $align: center,
          $gap: 0.9375rem
        );
        .user {
          width: 3.625rem;
          height: 3.625rem;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .text {
          color: $white;
          font-family: "Cairo-Bold";
          font-size: 1rem;
        }
      }
    }
  }
}
