@use "../helpers/fonts" as *;
@use "../helpers/mixins" as *;
@use "./colors" as *;
@use "./variables/global" as *;
@use "./variables/mediaQuery" as *;
@use "./placeholders" as *;

.form {
  @extend %mainForm;
  .radioButtons {
    @include flex-variant(flex, $direction: row, $justify: space-between);
    .radioButton {
      width: 100%;
      @include flex-variant(flex, $direction: column, $gap: $gap-20);
      text-transform: capitalize;
      .title {
        font-family: "Cairo-ExtraBold";
        font-size: $f-s-18;
        color: $pink;
      }
      .content {
        @include flex-variant(
          flex,
          $direction: row,
          $justify: space-between,
          $align: center,
          $gap: $gap-16,
          $wrap: wrap
        );
        @include mediaQuery($smallScreen_min_width) {
          @include flex-variant(
            flex,
            $direction: row,
            $justify: initial,
            $align: center,
            $gap: $gap-64,
            $wrap: nowrap
          );
        }
      }
    }
  }
  .inputs {
    @extend %inputsStyle;
  }
  .image {
    @include flex-variant(flex, $direction: column, $gap: $gap-16);
    > p {
      font-family: "Cairo-Bold";
      font-size: $f-s-18;
      text-transform: capitalize;
      color: $pink;
    }
    .selectFile {
      .uploadImg {
        width: 13.3125rem;
        height: 8.75rem;
        position: relative;
        @include flex-row-center();
        color: $black;
        font-size: $f-s-90;
        border: $b-r-2 dashed $black;
        svg {
          position: absolute;
          z-index: 1;
        }
        .imageLabel {
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 2;
          cursor: pointer;
          input {
            display: none;
          }
        }
      }
    }
  }
  .feedback {
    padding: 0 $padding-15;
    font-family: "Cairo-Regular";
    text-transform: capitalize;
    font-size: $f-s-14;
    color: $red;
  }
  .submit {
    @extend %submit;
  }
}
