@use "../helpers/fonts" as *;
@use "../helpers/mixins" as *;
@use "./colors" as *;
@use "./variables/global" as *;
@use "./variables/mediaQuery" as *;
@use "./placeholders" as *;

.form {
  @extend %mainForm;
  .radioButtons {
    @include flex-variant(flex, $direction: row, $justify: space-between);
    .radioButton {
      width: 100%;
      @include flex-variant(flex, $direction: column, $gap: $gap-20);
      text-transform: capitalize;
      .title {
        font-family: "Cairo-ExtraBold";
        font-size: $f-s-18;
        color: $pink;
      }
      .content {
        @include flex-variant(
          flex,
          $direction: row,
          $justify: space-between,
          $align: center,
          $gap: $gap-16,
          $wrap: wrap
        );
        @include mediaQuery($smallScreen_min_width) {
          @include flex-variant(
            flex,
            $direction: row,
            $justify: initial,
            $align: center,
            $gap: $gap-64,
            $wrap: nowrap
          );
        }
      }
    }
  }
  .inputs {
    @extend %inputsStyle;
  }
  .image {
    @extend %selectImage;
  }
  .feedback {
    @extend %feedbackStyle;
  }
  .submit {
    @extend %submit;
  }
}
