@use "../helpers/fonts" as *;
@use "../helpers/mixins" as *;
@use "./colors" as *;
@use "./variables/global" as *;

%letterSpace {
  letter-spacing: 0.05rem;
}
.dataError {
  @include flex-variant(
    flex,
    $direction: column,
    $align: center,
    $gap: $gap-32
  );
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .icon {
    width: 16rem;
    height: 16rem;
    @include flex-row-center();
    border-radius: 50%;
    background-color: $grey-14;
    font-size: $f-s-112;
    color: $grey-2;
  }
  .text {
    @include flex-variant(
      flex,
      $direction: column,
      $align: center,
      $gap: $gap-12
    );
    text-transform: capitalize;
    .message {
      font-family: "Cairo-Bold";
      font-size: $f-s-22;
      color: $black;
      @extend %letterSpace;
    }
    .subMessage {
      font-family: "Cairo-Regular";
      font-size: $f-s-18;
    }
  }
}
