@use "../helpers/mixins" as *;
@use "../helpers/fonts" as *;
@use "./colors" as *;
@use "./variables/mediaQuery" as *;
@use "./variables/global" as *;

%flex {
  @include flex-variant(
    flex,
    $direction: column,
    $align: center,
    $gap: $gap-16
  );
  @include mediaQuery($smallScreen_min_width) {
    @include flex-variant(
      flex,
      $direction: row,
      $justify: space-between,
      $align: center,
      $gap: $gap-16
    );
  }
}
.notification {
  width: 100%;
  padding: $main-padding;
  @include flex-variant(flex, $direction: column);
  text-transform: capitalize;
  .body {
    .list {
      @include flex-variant(
        flex,
        $direction: column,
        $justify: center,
        $align: center,
        $gap: $gap-24
      );
      .listItem {
        width: 100%;
        padding: $padding-10 $padding-28;
        @extend %flex;
        font-family: "Cairo-Regular";
        font-size: $f-s-16;
        border-radius: $b-r-10;
        background-color: $white;
        box-shadow: $boxShadow-1;
        cursor: pointer;

        .text {
          width: 100%;
          @extend %flex;
          @include mediaQuery($smallScreen_min_width) {
            width: fit-content;
          }
          .dot {
            display: none;
            width: 0.625rem;
            height: 0.625rem;
            border-radius: 50%;
            background-color: $pink-2;
            @include mediaQuery($smallScreen_min_width) {
              display: block;
            }
          }
          .img {
            width: 4.375rem;
            height: 4.375rem;
            border: $b-3 solid $white;
            border-radius: 50%;
            box-shadow: $boxShadow-1;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .info {
            @include flex-row-center($wrap: wrap, $gap: $gap-8);
            text-align: center;
            .name {
              font-family: "Cairo-Bold";
              font-size: $f-s-18;
              line-height: 1;
            }

            .action {
              color: $grey-5;
              font-size: $f-s-16;
            }
          }
        }

        .date {
          @include flex-variant(
            flex,
            $direction: column,
            $justify: center,
            $align: center
          );
          color: $grey-5;
          white-space: nowrap;
          @include mediaQuery($smallScreen_min_width) {
            align-items: flex-end;
          }
        }
      }
    }
  }
}
