@use "../helpers/fonts" as *;
@use "../helpers/mixins" as *;
@use "./colors" as *;
@use "./variables/global" as *;
@use "./placeholders" as *;

%flex {
  @include flex-variant(flex, $direction: column, $gap: $padding-16);
}
.profile {
  .form {
    @extend %mainForm;
    .inputs {
      @extend %inputsStyle;
    }
    .image {
      @extend %flex;
      > p {
        font-family: "Cairo-Bold";
        font-size: $f-s-18;
        text-transform: capitalize;
        color: $pink;
      }
      .selectFile {
        .uploadImg {
          width: 13.3125rem;
          height: 8.75rem;
          @include flex-row-center();
          font-size: $f-s-90;
          border: $b-r-2 dashed $black;
          cursor: pointer;
        }
      }
    }
    .submit {
      @extend %submit;
    }
  }
}
