@use "./colors" as *;
@use "../helpers/mixins" as *;
@use "../helpers/fonts" as *;

.wrapper {
  display: inline-block;

  .radioLabel {
    @include flex-variant(
      flex,
      $direction: row,
      $align: center,
      $gap: 0.625rem
    );
    

    input {
      visibility: hidden;
      order: 2;
      &:checked + .checkMark {
        background-color: $black;
        color: $white;
      }
    }

    .checkMark {
      height: 1.25rem;
      width: 1.25rem;
      display: inline-block;
      position: relative;
      font-size: 1rem;
      border: 0.0625rem solid $black;
      border-radius: 50%;
      cursor: pointer;

      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .label {
      font-family: "Cairo-ExtraBold";
      font-size: 1rem;
      color: $black;
      text-transform: capitalize;
      cursor: pointer;
    }
  }
}
