@use "../helpers/mixins" as *;

.resetPass {
  .form {
    width: 100%;
    @include flex-variant(
      flex,
      $direction: column,
      $align: center,
      $gap: 3.125rem
    );
    .submit {
      width: 85%;
      margin: 0;
      justify-content: center;
      letter-spacing: 0.125rem;
    }
  }
}
