@use "./colors" as *;
@use "../helpers/mixins" as *;
@use "../helpers/fonts" as *;

%font {
  font-family: "Cairo-Bold";
  font-size: 1rem;
  color: $white;
}
%tableItems {
  @include flex-variant(flex, $direction: row, $align: center);
  padding: 0 1.5rem;
  font-size: 1rem;
  > p:first-of-type {
    width: 2%;
  }
  > p:not(:first-of-type) {
    width: 15%;
    text-align: center;
  }
}
%icon {
  @include flex-variant(flex, $direction: row, $align: center);
  @extend %font;
  font-size: 2rem;
  color: $grey-7;
}
%flex-center {
  @include flex-variant(
    flex,
    $direction: row,
    $align: center,
    $justify: center
  );
}
.review {
  @include flex-variant(flex, $direction: column, $gap: 1.75rem);

  .filters {
    padding: 1rem;
    @include flex-variant(
      flex,
      $direction: row,
      $align: center,
      $justify: space-between
    );
    background-color: $pink;
    @extend %font;
    border-radius: 1.125rem 1.125rem 0 0;

    .filterItems {
      width: 30%;
      @include flex-variant(flex, $direction: row, $align: stretch, $gap: 1rem);
      a {
        padding: 0.75rem 0.75rem;
        @extend %flex-center;
        flex: 1 0;
        @extend %font;
        background-color: $black;
        border: 0.0625rem solid $white;
        border-radius: 0.9375rem;
        text-align: center;
      }
    }
  }
  .info {
    padding: 1rem;
    background-color: $pink-1;
    .wrapper {
      @include flex-variant(
        flex,
        $direction: row,
        $align: stretch,
        $justify: center,
        $gap: 1rem
      );
      .infoItem {
        padding: 2rem;
        flex: 1 0;
        @extend %flex-center;
        @extend %font;
        text-align: center;
        text-transform: capitalize;
        background-color: $pink;
        border-radius: 0.9375rem 2.5rem 0.9375rem 0.9375rem;
        border: 0.0625rem solid $white;
        cursor: pointer;
        &.active {
          background-color: $black;
        }
      }
    }
  }
  .data {
    min-height: 65vh;
    > .img {
      width: 16vw;
      height: 100%;
      position: absolute;
      z-index: 100;
      background-image: url("../assets/images/Vector3.png");
      background-size: contain;
      background-repeat: no-repeat;
      left: 0;
    }
    .filteredData {
      padding: 1.75rem 0;
      @include flex-variant(flex, $direction: column, $gap: 1.5rem);
      .message {
        text-align: center;
        @extend %font;
        color: $black;
      }
      .item {
        @include flex-variant(
          flex,
          $direction: row,
          $align: center,
          $gap: 1.75rem
        );
        .name {
          width: 20%;
          @extend %font;
          color: $black;
          text-transform: capitalize;
          overflow-wrap: break-word;
        }
        .value {
          width: 10%;
          @extend %font;
          color: $grey-10;
          a {
            color: $grey-10;
          }
        }
        .icon {
          width: 10%;
          @extend %icon;
        }
      }
      .tableTitle {
        text-transform: capitalize;
        font-family: "Cairo-Bold";
        font-size: 1.5rem;
      }
      .table {
        @include flex-variant(flex, $direction: column, $gap: 1.5rem);
        padding: 1.5rem 0;
        background-color: $grey-12;
        border-radius: 0.9375rem;
        box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.05);
        text-transform: capitalize;
        font-family: "Cairo-Bold";
        .tableHead {
          @extend %tableItems;
          box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.03);
          padding-bottom: 1rem;
        }
        .tableBody {
          @extend %tableItems;
          color: $grey-10;
          .icon {
            @extend %icon;
            justify-content: center;
            svg {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
