@use "../helpers/mixins" as *;
@use "./colors" as *;
@use "./variables/mediaQuery" as *;

.root {
  min-height: 100vh;
  @include flex-variant(flex, $direction: column);
  overflow: hidden;
  .rootOverlay {
    @include mediaQuery($XlargeScreen_min_width) {
      & {
        display: none;
      }
    }
    &.close {
      display: none;
    }
  }
  .content {
    position: relative;
    @include flex-variant(flex, $direction: row, $grow: 1);
    .body {
      width: 100%;
      position: relative;
      background-color: $grey-3;
      @include mediaQuery($XlargeScreen_min_width) {
        & {
          width: calc(100% - 17rem);
          flex-basis: calc(100% - 17rem);
        }
      }
    }
  }
}
