@use "../helpers/mixins" as *;
@use "./colors" as *;

.root {
  min-height: 100vh;
  @include flex-variant(flex, $direction: column);

  .content {
    @include flex-variant(flex, $direction: row, $grow: 1);
    .body {
      width: 85%;
      background-color: $grey-3;
    }
  }
}
