@use "../helpers/mixins" as *;
@use "./colors" as *;

.root {
  min-height: 100vh;
  @include flex-variant(flex, $direction: column);
  overflow: hidden;

  .content {
    @include flex-variant(flex, $direction: row, $grow: 1);
    .body {
      width: 85%;
      position: relative;
      background-color: $grey-3;
      &.full {
        width: 100%;
      }
    }
  }
}
