@use "../helpers/fonts" as *;
@use "../helpers/mixins" as *;
@use "./colors" as *;
@use "./variables/global" as *;
@use "./variables/mediaQuery" as *;
@import "./placeholders";

%flex {
  @include flex-variant(flex, $direction: column, $gap: $gap-20);
}
%font {
  font-family: "Cairo-Bold";
  font-size: $f-s-18;
}
%table-flex {
  @include flex-variant(flex, $direction: row, $align: center, $gap: $gap-30);
}
%width {
  &:first-of-type {
    width: 6.25rem;
    min-width: 6.25rem;
    max-width: 6.25rem;
  }
  &:nth-of-type(2) {
    width: 16.25rem;
    min-width: 16.25rem;
    max-width: 16.25rem;
  }
  &:nth-of-type(3) {
    width: 12.5rem;
    min-width: 12.5rem;
    max-width: 12.5rem;
  }
  &:nth-of-type(4) {
    width: 6.25rem;
    min-width: 6.25rem;
    max-width: 6.25rem;
  }
}
%flex-column {
  @include flex-variant(
    flex,
    $direction: column,
    $justify: space-between,
    $gap: $gap-8
  );
}
.form {
  @extend %formStyle;
  .inputs {
    width: 100%;
    @extend %flex;
    .selectItem {
      width: 100%;
      @extend %flex-column;
    }
    .input {
      width: 100%;
      @include mediaQuery($medScreen_min_width) {
        width: 65%;
      }
      @extend %flex-column;
      .inputItem {
        @extend %inputStyle;
        @include flex-variant(flex, $direction: row, $align: center);
        .inputField {
          @extend %inputFieldStyle;
        }
        .icon {
          @extend %iconStyle;
        }
      }
    }
    .selectFile {
      @include flex-variant(
        flex,
        $direction: row,
        $align: center,
        $gap: $gap-24,
        $wrap: wrap
      );
      text-transform: capitalize;
      @include mediaQuery($smallScreen_min_width) {
        flex-wrap: nowrap;
      }
      .filesButton {
        padding: $gap-8 $gap-40;
        @extend %font;
        color: $white;
        background-color: $pink;
        border-radius: $b-r-6;
        white-space: nowrap;
        cursor: pointer;
        input {
          display: none;
        }
      }
      p {
        @extend %font;
      }
    }
    .feedback {
      @extend %feedbackStyle;
    }
  }
  .table {
    width: 100%;
    background-color: $white-1;
    border-radius: $b-r-12;
    box-shadow: $boxShadow-2;
    overflow: hidden;
    th {
      @extend %width;
    }
    td {
      @extend %width;
      overflow-wrap: break-word;
      &:first-of-type {
        @extend %font;
      }
      &:nth-of-type(2) {
        color: $pink;
        @extend %font;
      }
      &:nth-of-type(3) {
        font-family: "Cairo-Bold";
        font-size: $f-s-16;
        text-transform: capitalize;
      }
      button {
        width: 3.609375rem;
        height: 2.75rem;
        margin: 0 auto;
        @include flex-row-center();
        background-color: $black;
        color: $white;
        font-size: $f-s-22;
        border-radius: $b-r-15;
      }
    }
  }
}
.en {
  margin: 0 0 0 auto;
}
