@use "../helpers/fonts" as *;
@use "../helpers/mixins" as *;
@use "./colors" as *;
@use "./variables/global" as *;
@use "./variables/mediaQuery" as *;
@import "./placeholders";

%flex {
  @include flex-variant(flex, $direction: column, $gap: $gap-20);
}
%font {
  font-family: "Cairo-Bold";
  font-size: $f-s-18;
}
%width {
  & > p:first-child {
    width: calc(((100% - (3 * $gap-30)) * 3) / 100);
  }
  & > p:nth-child(2) {
    width: calc(((100% - (3 * $gap-30)) * 40) / 100);
  }
  & > p:nth-child(3) {
    width: calc(((100% - (3 * $gap-30)) * 52) / 100);
  }
  & > p:nth-child(4) {
    width: calc(((100% - (3 * $gap-30)) * 5) / 100);
    text-align: center;
  }
  & > button {
    min-width: calc(((100% - (3 * $gap-30)) * 5) / 100);
  }
}
%flex-column {
  @include flex-variant(
    flex,
    $direction: column,
    $justify: space-between,
    $gap: $gap-8
  );
}
.form {
  @extend %formStyle;
  .inputs {
    width: 100%;
    @extend %flex;
    .selectItem {
      width: 100%;
      @extend %flex-column;
    }
    .input {
      width: 100%;
      @include mediaQuery($medScreen_min_width) {
        width: 65%;
      }
      @extend %flex-column;
      .inputItem {
        @extend %inputStyle;
        @include flex-variant(flex, $direction: row, $align: center);
        .inputField {
          @extend %inputFieldStyle;
        }
        .icon {
          @extend %iconStyle;
        }
      }
      .feedback {
        @extend %feedbackStyle;
      }
    }
    .selectFile {
      @include flex-variant(
        flex,
        $direction: row,
        $align: center,
        $gap: $gap-24,
        $wrap: wrap
      );
      text-transform: capitalize;
      @include mediaQuery($smallScreen_min_width) {
        flex-wrap: nowrap;
      }
      .filesButton {
        padding: $gap-8 $gap-40;
        @extend %font;
        color: $white;
        background-color: $pink;
        border-radius: $b-r-6;
        white-space: nowrap;
        cursor: pointer;
        input {
          display: none;
        }
      }
      p {
        @extend %font;
      }
    }
    .feedback {
      padding: 0 $padding-15;
      font-family: "Cairo-Regular";
      text-transform: capitalize;
      font-size: $f-s-14;
      color: $red;
    }
  }
  .table {
    width: 100%;
    .head {
      width: 100%;
      padding: $padding-12 $padding-24;
      @include flex-variant(
        flex,
        $direction: row,
        $align: center,
        $gap: $gap-30
      );
      @extend %font;
      color: $white;
      text-transform: capitalize;
      border-radius: $b-r-12;
      background-color: $grey-9;
      @extend %width;
    }
    .tableBody {
      padding: $padding-12 $padding-24;
      @include flex-variant(flex, $direction: column, $gap: $gap-16);
      border: $border-1 solid $grey-10;
      border-radius: $b-r-12 $b-r-12 0 0;
      .item {
        @extend %width;
        @include flex-variant(
          flex,
          $direction: row,
          $align: center,
          $gap: $gap-30
        );
        .num {
          @extend %font;
        }
        .name {
          color: $pink;
          @extend %font;
        }
        .type {
          font-family: "Cairo-Bold";
          font-size: $f-s-16;
          text-transform: capitalize;
        }
        .delete {
          //width: 3.75rem;
          //width: 10%;
          height: 3rem;
          @include flex-row-center();
          background-color: $black;
          color: $white;
          font-size: $f-s-24;
          border-radius: $b-r-15;
        }
      }
    }
  }
}
.en {
  margin: 0 0 0 auto;
}
