@use "../helpers/fonts" as *;
@use "../helpers/mixins" as *;
@use "./colors" as *;
@use "./variables/global" as *;
@use "./variables/mediaQuery" as *;

%color-red {
  color: $red;
}
.select {
  width: 100%;
  @include mediaQuery($medScreen_min_width) {
    width: 65%;
  }
  &.invalid {
    > div {
      border-color: $red;
      @extend %color-red;
      > div {
        > div {
          @extend %color-red;
        }
      }
    }
  }
  .option {
    @include flex-variant(
      flex,
      $direction: row,
      $align: center,
      $justify: space-between
    );
    text-transform: capitalize;
    cursor: pointer;

    .icon {
      font-size: $f-s-24;
    }
  }
}
