@use "../helpers/mixins" as *;
@use "./colors" as *;
@use "./variables/global" as *;
@use "./variables/mediaQuery" as *;
@use "./placeholders" as *;

.userPermits {
  padding: $main-padding;
  .forms {
    @include flex-variant(flex, $direction: column, $gap: $gap-32);
    .form {
      width: 100% !important;
      @extend %mainForm;

      .submit {
        width: 100%;
        @extend %submit;
        margin: 0 auto 0 0;
        &.en {
          margin: 0 0 0 auto;
        }
        @include mediaQuery($smallScreen_min_width) {
          width: 45%;
        }
        @include mediaQuery($medScreen_min_width) {
          width: 35%;
        }
        @include mediaQuery($largeScreen_min_width) {
          width: 25%;
        }
      }
    }
  }
}
