@use "./colors" as *;
@use "../helpers/mixins" as *;
@use "../helpers/fonts" as *;
@use "./variables/mediaQuery" as *;
@use "./variables/global" as *;

.info {
  display: none !important;
  @include mediaQuery($smallScreen_min_width) {
    & {
      @include flex-variant(
        flex,
        $direction: row,
        $align: center,
        $gap: $gap-15
      );
    }
  }
  .user {
    width: 3.625rem;
    height: 3.625rem;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .text {
    color: $white;
    font-family: "Cairo-Bold";
    font-size: $f-s-16;
    text-transform: capitalize;
    white-space: nowrap;
    &.dark {
      color: $black;
    }
  }
}
