@use "../helpers/mixins" as *;
@use "./colors" as *;

.userPermits {
  padding: 1.75rem 2.5rem;
  .forms {
    @include flex-variant(flex, $direction: column, $gap: 1.25rem);
    .form {
      @include flex-variant(
        flex,
        $direction: column,
        $justify: center,
        $gap: 1.75rem
      );
      .submit {
        width: 18%;
        justify-content: center;
        background-color: $black;
        text-transform: capitalize;
        &.en {
          margin: 0 0 0 auto;
        }
      }
    }
  }
}
