@font-face {
  font-family: Cairo-Light;
  src: url("../assets/fonts/Cairo-Light.ttf");
}

@font-face {
  font-family: Cairo-Regular;
  src: url("../assets/fonts/Cairo-Regular.ttf");
}

@font-face {
  font-family: Cairo-Medium;
  src: url("../assets/fonts/Cairo-Medium.ttf");
}

@font-face {
  font-family: Cairo-SemiBold;
  src: url("../assets/fonts/Cairo-SemiBold.ttf");
}

@font-face {
  font-family: Cairo-Bold;
  src: url("../assets/fonts/Cairo-Bold.ttf");
}

@font-face {
  font-family: Cairo-ExtraBold;
  src: url("../assets/fonts/Cairo-ExtraBold.ttf");
}

@font-face {
  font-family: Cairo-Black;
  src: url("../assets/fonts/Cairo-Black.ttf");
}
