@font-face {
  font-family: Cairo-Light;
  src: url("../assets/fonts/Cairo-Light.ttf");
}

@font-face {
  font-family: Cairo-Regular;
  src: url("../assets/fonts/Cairo-Regular.ttf");
}

@font-face {
  font-family: Cairo-Medium;
  src: url("../assets/fonts/Cairo-Medium.ttf");
}

@font-face {
  font-family: Cairo-Bold;
  src: url("../assets/fonts/Cairo-Bold.ttf");
}
