//Mobile
$mobile_min_width: "min-width: 320px";
$mobile_max_width: "max-width: 479px";
//Ipad and Tablet
$Tablet_min_width: "min-width: 480px";
$Tablet_max_width: "max-width: 575px";
//Small screens
$smallScreen_min_width: "min-width: 576px";
$smallScreen_max_width: "max-width: 767px";
//Medium screens
$medScreen_min_width: "min-width: 768px";
$medScreen_max_width: "max-width: 991px";
//Desktops and large screens
$largeScreen_min_width: "min-width: 992px";
$largeScreen_max_width: "max-width: 1199px";
//Extra large screens and TV
$XlargeScreen_min_width: "min-width: 1200px";
//4k screens
$XXlargeScreen_min_width: "min-width: 2000px";